# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Vercel
.vercel

# Build outputs
.next/
dist/
build/
out/

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
